@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#landing {
  background: #fff6de;
  padding-top: 134px;
  height: 514px;
}

#landing h1 {
  background: #f2d6d2;
  margin: 0 auto;
  width: 80%;
  padding: 40px;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}

#chien {
  display: block;
  margin: 0 auto;
}

#nav {
  margin-top: 200 px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#nav a {
  text-decoration: none;
  color: #000000;
  background: #f2d6d2;
  padding: 20px;
  border-radius: 4px;
}
#debut_page  {
  background: #f2d6d2;
  margin-top: 200 px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  height: 1875px;
  padding: px 60px 60px 60px;
  border-radius: 20px 20px 20px 20px;
  
}
#suite {
  padding: 30px 20px 20px 20px;
  margin: 0 auto;
  text-align: center;
} 
